@model Kbide_desenvolvimento.Models.Produto

<h3>Produto -> Visualizar<h3>
    :)

<br />
<h2>Produto</h2>
<b>Código:</b> @Model.id <br />
<b>Nome:</b> @Model.Nome <br />
<b>Descricão:</b> @Model.Descricao <br />
<b>Valor:</b> @Model.Valor.ToString("C") <br />


<br />
Todos os direitos reservados &copy; @DateTime.Now.Year